.fantasy{

    &__leaderboard{
        display:flex;
        flex-direction:column;
        gap:24px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;

        ul{
            display:flex;
            flex-direction:column;
            gap:24px;
            margin: 24px auto 0px auto;
            justify-content: center;
            align-items: center;
        }
    }
    &-place{
        display:flex;
        flex-direction:column;
        
        justify-content: center;
        align-items: center;

        &__rank{
            color: $darkBlue;
            font-weight: normal;
            margin-bottom:8px;
        }

        &--1{
            font-size: 52px;
            line-height: 56px;
        }
        &--2{
            font-size: 44px;
            line-height: 48px;
        }
        &--3{
            font-size: 36px;
            line-height: 40px;
        }
    }

    &-team{
        color: $greyBlue;
        font-size: 24px;
        line-height:28px;
    }

    &__mvp{
        display:flex;
        flex-direction:column;
        
        justify-content: center;
        align-items: center;
        margin-top:40px;

        &-title{
            color: $darkBlue;
            font-weight: normal;
            font-size: 48px;
            line-height: 52px;
            margin-bottom:8px;
        }
        &-player{
            
            color: $greyBlue;
            font-size: 24px;
            line-height:28px;
        }

        &-points{
            color: $greyBlue;
            font-size: 24px;
            line-height:28px;
        }
    }

    &-small{
        color: $greyBlue;
        font-size: 16px;
        line-height:20px;
    }
}