.container{
    max-width: 1300px;
    margin: auto;
    padding: 0px 15px;
}

body{
    margin: 0;
}

ul{
    list-style: none;
    padding-inline-start: 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');



*{
    font-family: 'Bungee', system-ui;
    text-transform: uppercase;
}


$lightBlue: #4A56A6;
$darkBlue: #0A0068;
$greyBlue : #9B9BAA;


@import './components/page.scss';
@import './components/form.scss';
@import './components/template.scss';
@import './components/header.scss';



@import './components/added-template.scss';